/* ! This css file is used for the content scripts not the action popup */
#crx-root {
  all: initial !important;
  /* position: fixed;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, 0); */
}

#crx-root button {
  background-color: rgb(239, 239, 239);
  border-color: rgb(118, 118, 118);
  border-image: initial;
  border-style: outset;
  border-width: 2px;
  margin: 0;
  padding: 1px 6px;
}

@keyframes pulse-outline {
  0% {
    box-shadow: 0 0 0 rgba(0, 123, 255, 0.3);
  }
  20% {
    box-shadow: 0 0 8px rgba(44, 146, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 123, 255, 0);
  }
}

.pulse-outline {
  /* Keep the input’s normal border; we only add a temporary glow */
  animation: pulse-outline 1.5s ease-in-out !important;
  /* box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); */
}
