/* ! This css file is used for the content scripts not the action popup */
#crx-root {
  all: initial !important;
}

@keyframes pulse-outline {
  0% {
    box-shadow: 0 0 0 rgba(0, 123, 255, 0.3);
  }
  20% {
    box-shadow: 0 0 8px rgba(44, 146, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 123, 255, 0);
  }
}

.pulse-outline {
  /* Keep the input's normal border; we only add a temporary glow */
  animation: pulse-outline 1.5s ease-in-out !important;
  /* box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); */
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-left {
  animation: slide-out-left 0.3s ease-in-out forwards;
}

.slide-in-right {
  animation: slide-in-right 0.3s ease-in-out forwards;
}
